# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. Scala
6. Visual Basic

Some of the commonly used libraries by Data Scientists inculde:
1. Pandas
2. Numpy
3. Matpolitlib
4. Scikitlearn

| Data Science Tools|
|-------------------|
|Jupyter Lab        |
|Spyder             |
|Data Spell         |
|Google Colab       |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
import numpy as np

np=(3*4)+5

print(np)

17

In [ ]:
time=float(input('Enter time: '))
unit=input('Time in hours or minutes: ')

if unit.upper() == 'hours':
    convert = time * 60
    print('Time in hours is ' + str(convert))

else:
    convert = time / 60
    print('Time in minutes is ' + str(convert))

## Objectives

- Python Language
- Pandas tool
- Numpy tool

## Author

Bobronti Ogoti